.fit-picture {
    height: 200px;
    Width: 200px;
}

body {
    margin: 0px;
    padding: 0px;
}
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #012340;
    color: white;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

header {
    background-color: #04D939;
    border-bottom: 1px solid #027333;
}
a:link {
    color: #025959;
    text-decoration: none;
}
a:visited {
    color: green;
    text-decoration: none;
  }
a:hover {
    color: hotpink;
    text-decoration: none;
  }
a:active {
    color: blue;
    text-decoration: none;
  }
.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: fantasy;
}
.grey {
    background-color: lightgray;
}